body {
	font-family: Comic Sans MS !important;
	background-image: url(images/fon.png); 
	background-size: cover;
	overflow-x: hidden;
}

a.text:active,
a.text {
	text-decoration: none;
	color: black;
}

a.text:hover {
	text-decoration: none;
	color: white;
}

li {
	content: "";
	display: inline-block;
	border: 1px solid black;
	padding: 4px;
	margin: 2px;
	font-size: 30px;
	border-left: 1px;
	color: black;
}

ul li:first-child {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left: 1px solid black;
}

ul li:nth-child(5) {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

ul li:last-child {
	position: relative;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-left: 1px solid black;
	left: 21%;
}

li:hover {
	background: orange;
	color: white;
}