h2 {
	margin: 5px 0;
}

.wednesday {
	width: 400px;
	height: 400px;
	transform: rotate(-15deg);
	float: left;
	margin: 1.3% 6%;
	margin-right: 0;
}

.block1 {
	/*width: 21%;
	background-image: url(https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png);
	transform: rotate(-15deg);
	float: left;
	margin: 0 6%;
	background-size: cover;*/
	width: 400px;
	height: 400px;
	/*background-image: url(https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png);*/
	transform: rotate(-15deg);
	float: left;
	/*width: 32%;*/
	margin: 1.3% 6%;
}

.block2 {
	width: 400px;
	height: 400px;
	/*background-image: url(https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png);*/
	transform: rotate(-15deg);
	float: left;
	/*width: 48%;
	min-height: 100px;*/
	margin: 1% 0%;
	margin-left: 23%;
}

.block3 {
	width: 400px;
	height: 400px;
	/*background-image: url(https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png);*/
	transform: rotate(-15deg);
	float: left;
	/*width: 48%;
	min-height: 100px;*/
	margin: 1% 0%;
	margin-left: 13%;
	/*margin-right: 23%;*/
}

.header-lessons1 {
	position: relative;
	top: -350px;
	left: 115px;
}

.header-lessons2 {
	position: relative;
	top: -350px;
	left: 150px;
}

.header-lessons3 {
	position: relative;
	top: -350px;
	left: 160px;
}

.header-lessons4 {
	position: relative;
	top: -350px;
	left: 150px;
}

.header-lessons5 {
	position: relative;
	top: -350px;
	left: 140px;
}

.list1 {
	position: relative;
	top: -340px;
	left: 20px;
}

.hr1 {
	position: relative;
	top: -345px;
	border-top: 2px solid black;
}
