.list {
	width: 33%;
	padding-top: 75px;
	padding-left: 32.5%;
	transform: rotate(-10deg);
}

.list_content {
	position: relative;
	top: -550px;
	left: 20px;
}

h1 {

}

hr {
	border: 1px solid black;
}