{% extends 'base.html' %}

{% block css_file %}
lessons.css
{% endblock %}

{% block title %}
Расписание уроков
{% endblock %}

{% block body %}
	<div class="line">
		<div class="block1">
			<img src="https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png" height="400px" width="400px">
			<h2 class="header-lessons1">Понедельник</h2>
			<hr class="hr1" width="300px">
			<div class="list1">
				<h2>Геометрия</h2>
				<h2>Алгебра</h2>
				<h2>История</h2>
				<h2>Литература</h2>
				<h2>Музыка</h2>
				<h2>Английский язык</h2>
				<h2>Французский язык</h2>
			</div>
		</div>
		<div class="block1">
			<img src="https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png" height="400px" width="400px">
			<h2 class="header-lessons2">Вторник</h2>
			<hr class="hr1" width="300px">
			<div class="list1">
				<h2>Химия</h2>
				<h2>Физкультура</h2>
				<h2>Обществознание</h2>
				<h2>Русский язык</h2>
				<h2>Геометрия</h2>
				<h2>Биология</h2>
			</div>
		</div>
		<div class="wednesday">
			<img src="https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png" height="400px" width="400px">
			<h2 class="header-lessons3">Среда</h2>
			<hr class="hr1" width="300px">
			<div class="list1">
				<h2>Французский язык</h2>
				<h2>Физика</h2>
				<h2>География</h2>
				<h2>Русский язык</h2>
				<h2>Литература</h2>
				<h2>История</h2>
			</div>
		</div>
	</div>
	<div class="line">
		<div class="block2">
			<img src="https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png" height="400px" width="400px">
			<h2 class="header-lessons4">Четверг</h2>
			<hr class="hr1" width="300px">
			<div class="list1">
				<h2>Русский язык</h2>
				<h2>Английский язык</h2>
				<h2>Биология</h2>
				<h2>Алгебра</h2>
				<h2>Химия</h2>
				<h2>Техн. / Информ.</h2>
				<h2>Информ. / Техн.</h2>
			</div>
		</div>
		<div class="block3">
			<img src="https://static.tildacdn.com/tild6266-3862-4532-a563-386439636565/notes-clipart-yellow.png" height="400px" width="400px">
			<h2 class="header-lessons5">Пятница</h2>
			<hr class="hr1" width="300px">
			<div class="list1">
				<h2>Физика</h2>
				<h2>География</h2>
				<h2>Родн. язык / литература</h2>
				<h2>Физкультура</h2>
				<h2>Английский язык</h2>
				<h2>Алгебра</h2>
				<h2>ОБЖ</h2>
			</div>
		</div>
	</div>
{% endblock %}