{% extends 'base.html' %}

{% block css_file %}
reset_password.css
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}

{% block body %}
    <h1>Сброс пароля</h1>
    <p>Забыли пароль? Не беда! Можете его сбросить. Для сброса пароля заполните форму. К вам на почту придёт письмо с данными для сброса пароля.</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}